@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation: fadeIn 2s ease-in-out;
  }

  .home-page {
    background-color: #2A79A0; /* Color de fondo deseado */
    /* Asegúrate de que el alto sea 100vh para cubrir toda la altura de la pantalla */
    height: 100vh;
  }